<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1，minimum-scale=1,maximum-sacle=1，user-scalable=no">
</head>
<body>
   <div class="userinformation">
  <div class="conInfor">
    <div class="uInforContent">
      <div class="uInforTop">
        <div class="goBackZb">
          <img src="./goBack.png"/>
        </div>
        <div class="userLogo">
          <img src="./userLogo.png"/>
        </div>
        <div class="username">
          <p>admin</p>
        </div>
        <div class="loginLastDate">
          <p>上次登录时间：</p>
          <span>2018-01-01</span>
        </div>
      </div>
      <div class="uInfor-content-division"></div>
      <div class="uInforCon">
        <div class="topicses uInforConLlist">
          <p class="left">主题数量</p>
          <p class="right">300</p>
        </div>
        <div class="topicses uInforConLlist">
          <p class="left">帖子发布数量</p>
          <p class="right">300</p>
        </div>
        <div class="topicses uInforConLlist">
          <p class="left">论坛积分</p>
          <p class="right">300</p>
        </div>
      </div>
    </div>
  </div>
  <div class="loginOut">
    <a href="#">退出</a>
  </div>
</div>
</body>
</html>