//计算rem
$rem = 75 //(750/10)
ptor(name, $px)
  {name}: ($px / $rem) * 1rem
body, html
  line-height: 1
  font-family: '方正兰亭黑','PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'

input::-webkit-input-placeholder
  color: #bbbbbb

*{
  margin: 0
  padding: 0
}
