@import "base.styl"

.mheader
  width: 100%
  ptor('height', 100)
  background-color: #bf0000
  overflow: hidden
  .mheaderCon
    ptor('height', 100)
    ptor('margin-right', 40)
    ptor('margin-left', 30)
    position: relative
    display: flex
    text-align: center
    align-items: center
    .goBack
      display: inline-block
      ptor('width', 22)
      ptor('height', 39)
      ptor('margin-right', 40)
      flex-shrink: 0
      ptor('flex-basis', 22)
      img
        ptor('width', 22)
        ptor('height', 39)
        float: left
    .username
      display: inline-block
      ptor('width', 36)
      ptor('height', 36)
      ptor('margin-right', 40)
      flex-shrink: 0
      ptor('flex-basis', 36)
      img
        ptor('width', 36)
        ptor('height', 36)
        float: left
    .webname
      ptor('height', 55)
      ptor('line-height', 55)
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      img
        ptor('width', 70)
        ptor('height', 55)
        display: inline-block
        float: left
      p
        margin: 0
        float: left
        ptor('margin-left', 20)
        ptor('font-size', 32)
        color: #fff
    .search
      position: absolute
      ptor('width', 36)
      ptor('height', 36)
      ptor('right', 30)
      flex-shrink: 0
      ptor('flex-basis', 36)
      i
        display: block
        ptor('width', 36)
        ptor('height', 36)
        background-image: url("../images/m-header/search.png")
        background-size: 100% 100%
    .searchVal
      flex: 1
      ptor('height', 60)
      ptor('margin-left', 50)
      ptor('margin-right', 20)
      position: relative
      input
        width: 100%
        ptor('height', 60)
        border: none
        border-radius: 29.5px
        display: block
      i
        position: absolute
        ptor('width', 36)
        ptor('height', 36)
        display: block
        background-image: url("../images/m-header/searchVal.png")
        background-size: 100% 100%
        ptor('top', 12)
        ptor('right', 20)
    .switch
      position: absolute
      right: 0
      ptor('width', 8)
      ptor('height', 40)
      flex-shrink: 0
      ptor('flex-basis', 8)
      img
        ptor('width', 8)
        ptor('height', 40)
        float: left