@import "base.styl"

.tab
  width: 100%
  ptor('height', 110)
  ptor('line-height', 110)
  ptor('font-size', 32)
  .table-item
    ptor('padding-left', 20)
    ptor('padding-right', 20)
    display: inline-block
    .tab-link
      ptor('height', 37)
      color: #222222
      ptor('padding-bottom', 30)
    .tab-link-active
      color: #bf0000
      border-bottom: 3px solid #bf0000