@import "base.styl"

.userinformation
  position: fixed
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto
  .conInfor
    min-height: 100%
    .uInforContent
      ptor('padding-bottom', 90)
      .uInforTop
        width: 100%
        ptor('height', 430)
        background-image: url("../images/userinformation/uInforTop.png")
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        overflow: hidden
        .goBackZb
          ptor('margin-top', 30)
          ptor('margin-left', 30)
          ptor('width', 22)
          ptor('height', 39)
          img
            ptor('width', 22)
            ptor('height', 39)
            float: left
        .userLogo
          ptor('margin-top', 10)
          ptor('height', 206)
          text-align: center
          img
            ptor('width', 206)
            ptor('height', 206)
        .username
          ptor('margin-top', 20)
          text-align: center
          p
            ptor('font-size', 30)
            color: #fff
        .loginLastDate
          ptor('margin-top', 40)
          text-align: center
          ptor('font-size', 30)
          color: #fff
          p
            display: inline-block
      .uInfor-content-division
        ptor('height', 20)
        background-color: #ddd;
      .uInforCon
        .uInforConLlist
          overflow: hidden
          ptor('padding-left', 30)
          ptor('padding-right', 30)
          ptor('padding-top', 40)
          ptor('padding-bottom', 40)
          border-bottom: 1px solid #ddd
          ptor('font-size', 30)
          .left
            float: left
            color: #3222222
          .right
            float: right
            color: #777777
  .loginOut
    width: 100%
    ptor('margin-top', -90)
    background-color: #dddddd
    ptor('height', 90)
    ptor('line-height', 90)
    text-align: center
    a
      ptor('font-size', 36)
      color: #222222